html, body
  overflow: hidden

html, body, .split-pane
  height: 100%

.split-pane
  display: flex
  flex-direction: row

.menu-pane
  height: 100%
  flex: 0 0 270px
  border-right: 1px solid #eee

.main-pane
  flex: 1
  display: flex
  flex-direction: column

.content-pane
  flex: 1

.header
  padding: 16px
  background-color: #f8f8f8
  box-shadow: 0px 1px 2px #bbb
  border-bottom: 1px solid #eee

.header-title
  font-size: 22px

.chat-bar
  display: flex
  padding: 8px
  flex-direction: row
  box-shadow: 0px -1px 1px #bbb
  background-color: #f8f8f8
  
  input
    width: 100%
    padding: 14px
    outline: none
    border-radius: 12px
    border: 1px solid #eee
    background-color: #fff

  .send-button
    padding: 0
    right: 16px
    bottom: 9px
    z-index: 999
    outline: none
    position: fixed
    font-size: 30px
    background-color: transparent
    color: var(--ion-color-primary,#3880ff)
    transition: background-color 100ms linear
    &:hover
      color: var(--ion-color-primary-shade,#3171e0)
    &:focus
      color: var(--ion-color-primary-shade,#3171e0)